/** Demo specific styles **/

body {
    margin:0;
    padding:0;
}

.one {
    background:red;
}

.two {
    background:green;
}

.hide-header #s_simple_modal_header {
    display:none;
}

.large-header #s_simple_modal_header {
    height:150px;
}
