.s_simple_modal {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:none;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BF000000,endColorstr=#BF000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important; /* ie9 requires quotes */
    zoom: 1;
    background: black;
    width: 100%;
    height: 100%;
}

.s_simple_modal_wrapper {
    position:relative;
    width: 100%;
    margin: 5px auto;

/* customizable - width, height, and margins are sort of initial defaults */
    max-width:400px;
    height:200px;
    border-radius:4px;
    box-shadow:0 2px 10px 0px rgba(0,0,0,0.5);
}

.s_simple_modal_loading {
    visibility:hidden;
}

.s_simple_modal_wrapper, .s_simple_modal_pane_slider {
    -moz-transition: width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s, left 0.2s, right 0.2s;
    -webkit-transition: width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s, left 0.2s, right 0.2s;
    -o-transition: width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s, left 0.2s, right 0.2s;
    transition: width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s, left 0.2s, right 0.2s;
}

.s_simple_modal_notransition, .s_simple_modal_pane > div {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.s_simple_modal_close {
    z-index:1000;
    position:absolute;
    right:10px;
    top:10px;
    width:26px;
    height:26px;
    background:#730000;
}

.s_simple_modal_header {
    height:45px;
    background:#a6a6a6;
    border-radius:4px 4px 0 0;
    position: relative;
}

.s_simple_modal_body {
    background:#fff;
    overflow:hidden;
    position: relative;
}

.s_simple_modal_pane_slider {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width: 100%;
    max-width:1000px;
    transition-timing-function: ease-out;
}

.s_simple_modal_pane_loading {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:200000;
    background:#fff;
}

.s_simple_modal_pane {
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    overflow:auto;
    width: 100%;
}

.s_simple_modal_pane_wrapper {
    padding:20px;
}

.s_simple_modal_pane.pre_show {
    visibility:hidden;
}

.s_simple_modal_pane.right {
    display:block;
    right:0;
}

.s_simple_modal_pane.left {
    display:block;
    left:0;
}

.s_simple_modal_footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:45px;
    background:#a1a1a1;
    border-radius:0 0 4px 4px;
}

.s_simple_modal_button {
    float:right;
}

/*
 * responsive modal
 */
.s_simple_modal_responsive {
   height: auto;
   bottom: auto;
}

@media (min-width: 500px) {
    .s_simple_modal {
      background:rgba(0,0,0,0.75);
    }

    .s_simple_modal_wrapper {
        margin: 20px auto;
    }
}

